/* reseteo general */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* saco estilo a todos los li */
ul li {
    list-style: none;
}
/* saco estilo a todos los link */
a {
    text-decoration: none;
}
/* PAGINA CONTACTO */
.body__contacto{
    background-image: url('../img/fondo-contacto.jpeg');
    gap: 2vw;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 10vw auto 10vw;

}
/* seccion header */
#header {
    grid-area: header;
    width: 100%;
    gap: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right,#ffffff,#987965 );
}
/* estilos del logo */
.logo__header {
    width: 30%;
    height: 5vw;
    align-self: center;
    margin-left: 5vh;
}
.logo__header img{
    width: 13vw;
}
/* estilos de los enlaces a redes sociales */
.contacto__menu{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 60%;
}
.contacto__menu .contacto__header {
    align-self: flex-end;
    justify-content: space-evenly;
    margin-right: 1vw;
}
.contacto__menu .contacto__header img {
    width: 3.2vw;
    height: 3.2vw;
    margin: 1vw;
}
.contacto__menu .contacto__header img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
}
/* menú de navegación */
.menu__navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__navegacion .barra__nav{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 2vw;
    
}
.menu__navegacion .barra__nav a{
    color: white;
    padding: 0.8vw;
    text-transform: uppercase;
    font-size: 1.4vw;
    display: inline-block;
    transition: all 560ms;
}
.menu__navegacion .barra__nav a:hover {
    opacity: 50%;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    font-size: 1.8vw;
}
/* Formulario */
.main__contacto {
    grid-area: main;
    display: flex;
    margin: 2vw;
    gap: 1vw;
}
.formulario__contacto {
    background-image: url('../img/fondo-contacto.jpeg');
    color: #000000;
    border: 0.4vw solid #000000;
    
}
.formulario__contacto h2 {
    margin: 2vw;
    text-align: center;
    text-transform: uppercase;
}
/* datos personales */
.contenedor__datos__personales {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    margin-left: 1vw;
}
.datos__personales {
    margin: 0.5vw;
    display: flex;
    justify-content:space-between;
}
.datos__personales label {
    font-weight: bold;
}
.datos__personales input {
    width: 20vw;
    padding: 0.4vw;
}
/* datos compra */
.contenedor__datos__compra {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    gap:1vw;
}
.datos__compras {
    margin: 0.4vw;
    display: flex;
    flex-direction: column;
}
.datos__compras h3 {
    margin: 0.5vw 0;
}
.radio__button {
    display: flex;
    gap: 1.5vw;
    justify-content:flex-start;
}
.dato__tipologia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: auto;
}

.opciones__tipologias {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
    padding: 0.2vw;
}

.opciones__tipologias input {
    background-color: aquamarine;
}
.datos__habitaciones{
    display: flex;
    flex-direction: column;
}
.opcion__habitacion {
    display: flex;
    padding: 0.2vw;
}
.datos__compras .provincia {
    padding: 0.5vw;
}
/* datos libres */
.contenedor__datos__libres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vw;
}
.contenedor__datos__libres h3 {
    padding: 1vw 0;
}
/* botones */
.contenedor__botones {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.contenedor__botones input {
    margin: 10px;
    padding: 10px;
    color: #ffffff;
}
.boton__enviar input{
    background-color: #789a23;
}
.boton__enviar input:hover{
    opacity: 80%;
}
.boton__borrar input{
    background-color: #ea4322;
}
.boton__borrar input:hover{
    opacity: 50%;
}
/* Imagenes */
.imagen__contacto {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
.imagen__contacto img{
    width: 100%;
}
.imagen__contacto img:hover{
    opacity: 80%;
    cursor: pointer;
}
/* FOOTER */
#footer{
    grid-area: footer;
    background: linear-gradient(to right,#789a23,#987965 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
}
#footer .copy{
    color: #ffffff;
    margin-right: 4vw;
    display: inline-block;
    justify-content: flex-start;
}
#footer .barra__nav__footer {
    display: flex;
    gap: 0.5vw;
}
#footer .barra__nav__footer li a{
    display: inline-block;
    color: #ffffff;
    padding: 0.5vw;
}
#footer .barra__nav__footer li a:hover {
    opacity: 50%;
    cursor: pointer;
}
.contacto__footer img{
    width: 6vh;
    margin: 1vw;
}
.contacto__footer img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 8vh;
}
/* responsive tablet celular */
@media screen and (max-width: 768px){
    .body__contacto {
        grid-template-rows: 20vw auto 20vw;
    }
    #header .logo__header img {
        width: 15vw;
    }
    #header .contacto__header img {
        width: 4vw;
        height: 4vw;
    }
    .contacto__menu .contacto__header img:hover {
        width: 4.3vw;
        height: 4.3vw;
    }
    #header .barra__nav li a{
        font-size: 2.3vw;
        color: black;
        font-weight: bold;
    }
    .main__contacto {
        flex-direction: column;
    }
    
    .datos__personales input {
        width: 50vw;
        margin-left: 4vw;
    }
    #footer{
        flex-direction: column;
    }
}
@media screen and (max-width:481px){
    .datos__personales input {
        width: 60vw;
        margin-left: 4vw;
    }
}

