/* reseteo general */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* saco estilo a todos los li */
ul li {
    list-style: none;
}
/* saco estilo a todos los link */
a {
    text-decoration: none;
}

/* PAGINA PROMOCIONES */
/* Pantalla PC */
#body__promo {
    background-image: url('../img/fondo-promociones.jpg');
    display: grid;
    gap: 2vw;
    grid-template-areas:  
    "header"
    "menu"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 15vw 180vw 10vw;
}
/* seccion header */
#header {
    grid-area: header;
    background: linear-gradient(to right,#987965,#ffffff );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo__contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vw;
}
.logo {
    width: 15vw;
    align-self: center;
    margin-left: 3vw;
}
.logo img {
    width: 10vw;
    height: 7vw;
}
.contacto__header{
    display: flex;
    gap: 1.5vw;
    width: 20vw;
    align-items: center;
}
.bi {
    font-size: 3vw;
    color: black;
}
.bi:hover {
    font-size: 3.2vw;
    color: black;
    opacity: 50%;
}
/* NAV BAR */
.navbar-collapse{
    justify-content: end;
    width: 100%;
    padding: 0%;
}
.navbar-nav{
    background: linear-gradient(to right,#987965,#ffffff );
    width: 100%;
    margin: 0;
    padding: 0;
} 
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 1.3vw;
    margin: 0.5vw;
} 
.navbar-light .navbar-nav .nav-link.active {
    color:#000;
    font-weight: bold;
}
/* estilos de los enlaces a redes sociales */
.contacto__menu{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 25%;
}
.contacto__menu .contacto__header {
    align-self: flex-end;
    justify-content: space-evenly;
    margin-right: 1vw;
}
.contacto__menu .contacto__header img {
    width: 3.2vw;
    height: 3.2vw;
    margin: 2vw;
}
.contacto__menu .contacto__header img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
}
/* promociones */
.seccion__promocion {
    grid-area: menu;
    height: 180vw;
    margin: 2vw;
}
.promo__caracteristicas {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 100vw;
}

.promo__img {
    margin: 2vw;
    border: 0.4vw solid white;
    background-color: #ffffff;
}

.promo__texto {
    margin: 2vw;
    width: 40vw;
    background: linear-gradient(to right,#789a23,#987965 );
    border: 0.4vw solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promo__texto h2{
    margin: 2vw auto;
    text-shadow: 1px 1px 1px #ffffff;;
}
.promo__texto li {
    list-style: url('../img/tilde.png');
    width: 30vw;
}
.promo__texto .listado__promo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.promo__img  img{
    width: 40vw;
}
/* FOOTER */
#footer{
    grid-area: footer;
    height: 10vw;
    background: linear-gradient(to right,#987965,#ffffff );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
}
#footer .copy{
    color: #000000;
    margin-right: 4vw;
    display: inline-block;
    justify-content: flex-start;
}
#footer .barra__nav__footer {
    display: flex;
    gap: 0.5vw;
}
#footer .barra__nav__footer li a{
    display: inline-block;
    color: #000000;
    padding: 0.5vw;
}
#footer .barra__nav__footer li a:hover {
    opacity: 50%;
    cursor: pointer;
}
.contacto__footer{
    display: flex;
    gap: 1.5vw;
}
.bi {
    font-size: 3vw;
    color: black;
}
.bi:hover {
    font-size: 3.2vw;
    color: black;
    opacity: 50%;
}
@media screen and (max-width: 768px) {
    #body__promo{
        grid-template-rows: 20vw 620vw 30vw;
        gap: 10vw;
    }
    #header {
        flex-direction: row-reverse;
    }
    .contacto__header {
        margin-right: 5vw;
    }
    .logo__contacto {
        width: 80vw;
        height: 20vw;
    }
    .logo img {
        width: 15vw;
        height: 9vw;
    }
    .navbar{
        width: 40vw;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000;
        font-size: 2vw;
    } 
    .promo__caracteristicas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .promo__img{
        width: 80vw;
        height: 80vw;
    }
    .promo__img img{
        width: 100%;
    }
    .promo__texto{
        width: 80vw;
        height: 60vw;
    }
    #footer {
        height: 30vw;
        flex-direction: column;
    }
    #footer .barra__nav__footer li a{
        display: inline-block;
        color: #000000;
        font-size: 2.5vw;
        padding: 0.5vw;
    }
    #footer .barra__nav__footer li a:hover {
        opacity: 50%;
        cursor: pointer;
    }
}
@media screen and (max-width:481px) {
    #body__promo{
        grid-template-rows: 30vw 690vw 30vw;
    }
    .logo__header img{
        width: 15vw;
    }
    .menu__navegacion .barra__nav a {
        color: #000000;
        font-size: 2.2vw;
    }
    .promo__caracteristicas {
        flex-direction: column;
    }
    .promo__img{
        width: 80vw;
        height: 80vw;
    }
    .promo__img img{
        width: 100%;
    }
    .promo__texto{
        width: 80vw;
        height: 80vw;
        align-items: stretch;
        margin-left: 1vw;
    }
    .promo__texto .listado__promo{
        gap: 1vw;
    }
    .promo__texto .listado__promo li {
        width: 50vh;
        margin-left: 7vw;
    }
    #footer .copy{
        color: #000000;
        margin-right: 4vw;
        display: inline-block;
        justify-content: flex-start;
    }
    #footer .barra__nav__footer {
        display: flex;
        gap: 0.5vw;
    }
    #footer .barra__nav__footer li a{
        font-size: 3.5vw;
        padding: 0.5vw;
    }
    .contacto__footer{
        display: flex;
        gap: 1.5vw;
    }
    .bi {
        font-size: 5vw;
        color: black;
    }
    .bi:hover {
        font-size: 3.2vw;
    }
}