/* reseteo general */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* saco estilo a todos los li */
ul li {
    list-style: none;
}
/* saco estilo a todos los link */
a {
    text-decoration: none;
}
/* index */
/* aplicando grid a la pagina general y dando estilo general */
#body__index{
    width: 100%;
    background-image: url(../img/pexels-pixabay-301717.jpg);
    margin: 0 0;
    height: 100vw;
    gap: 5px;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "section"
    "footer";
    grid-template-rows: 1fr 3fr 2fr 1fr;
    grid-template-columns: auto;
}
/* seccion header */
#header {
    grid-area: header;
    width: 100%;
    gap: 5px;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right,#ffffff,#987965 );
}
/* estilos del logo */
.logo__header {
    width: 30%;
    height: 5vw;
    align-self: center;
    margin-left: 5vh;
}
.logo__header img{
    width: 13   vw;
}
/* estilos de los enlaces a redes sociales */
.contacto__menu{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 60%;
}
.contacto__menu .contacto__header {
    align-self: flex-end;
    justify-content: space-evenly;
    margin-right: 1vw;
}
.contacto__menu .contacto__header img {
    width: 3.2vw;
    height: 3.2vw;
    margin: 1vw;
}
.contacto__menu .contacto__header img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
}
/* menú de navegación */
.menu__navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__navegacion .barra__nav{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 2vw;
    
}
.menu__navegacion .barra__nav a{
    color: white;
    padding: 0.8vw;
    text-transform: uppercase;
    font-size: 1.4vw;
    display: inline-block;
    transition: all 560ms;
}
.menu__navegacion .barra__nav a:hover {
    opacity: 50%;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    font-size: 1.8vw;
}

/* SECCION PRESENTACION */
#presentacion__empresa{
    grid-area: main;
    height: 60vw;
    width: 100%;
    gap: 0.8vw;
    margin: 2vw 0.1vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.foto__principal {
    width: 70vw;
    height: auto;
}
.foto__principal img{
    width: 70vw;
    height: auto;
}
.listado__fortalezas {
    width: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}
.cada__fortaleza {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vw ;
    margin:0.8vw 0.5vw;
    transition: all 1s;
    opacity: 80%;
}
.cada__fortaleza:hover{
    width: 23vw;
    height: 11.5vw;
    opacity: 100%;
    cursor: pointer;
}
.cada__fortaleza p {
    background-color: #789a23;
    color: #ffffff;
    margin: 0.3vw;
    width: 50%;
    font-size: 1.2vw;
}
.cada__fortaleza p:hover{
    background-color: #192a38;
    font-size: 1.4vw;
}
.listado__fortalezas img {
    width: 45%;
    height: 100%;
}

/* PROMOCIONES */
#promociones{
    grid-area: section;
    height: 30vw;
    margin-bottom: 5vw;
}

#promociones h2 {
    text-align: center;
    font-size: 3vw;
    background: linear-gradient(to right,#789a23,#987965 );
    height: 5vw;
    margin-top: 0.5vw;
}

#promociones h2 a {
    color: #ffffff;
    transition: all 1.5s;
}
#promociones h2 a:hover{
    opacity: 50%;
    color: red;
    font-size: 3.5vw;
}
.nuestras__promos {
    padding: 0.8vw;
    height: 25vw;
    gap: 1vw;
    margin: 1vw 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.promocion {
    width: 23vw;
    height: 23vw;
    border:  0.5vw solid #789a23 ;
    background-color: #ffffff;
    transition: all 400ms;
}
.promocion:hover{
    width: 25vw;
    height: 25vw;
    border:0.7vw solid #987965;

}

.promocion img {
    width: 100%;
    transition: all 1s;
}

/* FOOTER */
#footer{
    grid-area: footer;
    height: 5vw;
    background: linear-gradient(to right,#789a23,#987965 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
}
#footer .copy{
    color: #ffffff;
    margin-right: 4vw;
    display: inline-block;
    justify-content: flex-start;
}
#footer .barra__nav__footer {
    display: flex;
    gap: 0.5vw;
}
#footer .barra__nav__footer li a{
    display: inline-block;
    color: #ffffff;
    padding: 0.5vw;
}
#footer .barra__nav__footer li a:hover {
    opacity: 50%;
    cursor: pointer;
}
.contacto__footer img{
    width: 6vh;
    margin: 1vw;
}
.contacto__footer img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 8vh;
}
/* APLICANDO RESPONSIVE A INDEX*/
/* tamaño tablet */
@media screen and (max-width: 768px) {
    #header .logo__header img {
        width: 10vw;
    }
    #presentacion__empresa {
        flex-direction: column;
        height: 110vw;
        justify-content: center;
    }
    #presentacion__empresa .foto__principal {
        align-self: center;
        width: 100%;
        margin: 2vw;
    }
    #presentacion__empresa .listado__fortalezas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #presentacion__empresa .listado__fortalezas .cada__fortaleza{
        opacity: 100%;
    }
    #promociones {
        height: 80vw;
    }
    #promociones .nuestras__promos{
        flex-wrap: wrap;
    }
    #promociones .nuestras__promos .promocion{
        width: 35vw;
        height: 35vw;
        justify-content: space-evenly;
    }
    #footer {
        height: 15vw;
        flex-direction: column;
    }

}
/* tamaño celular */
@media screen and (max-width:481px) {
    #header {
        height: 20vw;
    }
    #header .logo__header img {
        width: 18vw;
    }
    #header .contacto__menu{
        width: 70%;
    }
    #header .contacto__menu .contacto__header img{
        width: 8vw;
        height: 8vw;
    }
    #header .contacto__menu .menu__navegacion a{
        font-size: 2.5vw;
        color: black;
        font-weight: bold;
    }
    #presentacion__empresa {
        height: 180vw;
    }
    #presentacion__empresa .listado__fortalezas .cada__fortaleza {
        width: 40vw;
        height: 20vw;
    }
    #presentacion__empresa .listado__fortalezas .cada__fortaleza p{
        font-size: 3vw;
    }
    #promociones {
        height: 330vw;
    }
    #promociones .nuestras__promos {
        gap: 10vw;
    }
    #promociones .nuestras__promos .promocion {
        width: 70vw;
        height: 70vw;
    }
    #footer {
        height: 20vw;
    }
}


.body__promo {
    background-image: url('../img/fondo-promociones.jpg');
}

.body__contacto {
    background-image: url('../img/fondo-contacto.jpeg');
}
.body__nosotros {
    background-image: none;
    background-color: #ffffff;
}
.body__modelos {
    background-image: none;
    background-color: #789a23;
}

.formulario__contacto {
    background-image: url('../img/fondo-contacto.jpeg');
    color: #000000;
    width: 500px;
    border: 7px solid #000000;
    
}
.formulario__contacto h2 {
    margin: 10px;
    text-align: center;
}

.imagen__contacto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imagen__contacto img{
width: 1000px;
height: auto;

}

.contenedor__datos__personales {
    display: flex;
    flex-direction: column  ;
    margin-bottom: 10px;
    margin-left: 10px;
}
.datos__personales {
    margin: 5px;
    display: flex;
    justify-content:space-between;
}

.datos__personales input {
    width: 250px;
    padding: 5px;
}

.contenedor__datos__compra {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap:15px
}

.datos__compras {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.datos__compras h3 {
    margin: 10px;
}

.radio__button {
    display: flex;
    gap: 10px;
    justify-content:flex-start;
}

/* .radio__button input {
    padding: 10px;
    margin: 10px;
} */
.contenedor__datos__libres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.contenedor__botones {
    margin: 10px;
    display: flex;
}

.contenedor__botones input {
    margin: 10px;
    padding: 10px;
    color: #ffffff;
}

.boton__enviar input{
    background-color: #789a23;
}
.boton__enviar input:hover{
    opacity: 50%;
}
.boton__borrar input{
    background-color: red;
}
.boton__borrar input:hover{
    opacity: 50%;
}

.dato__tipologia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: auto;
}

.opciones__tipologias {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 6px;
}

.opciones__tipologias input {
    background-color: aquamarine;
}

.datos__habitaciones{
    display: flex;
    flex-direction: column;
}
.opcion__habitacion {
    display: flex;
    padding: 5px;
}
/* modelos */
.menu__modelos {
    border: 5px solid #ffffff;
}

.menu__modelos h2 {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    height: 50px;
}

.tipologias {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}
.imagen__modelos {
    border: 4px solid beige;
}
.imagen__modelos img{
    width: 800px;
    height: 100%;
}

.caracteristicas__modelo {
    background-image: url('../img/modelos__caracteristicas.jpeg');
    width: 650px;
    border: 4px solid beige;
}
.caracteristicas__modelo h4 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.nuestras__sucursales h2{
    color: #ffffff;
    background-color: #789a23;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

.nuestras__sucursales h3{
    color: #ffffff;
    margin: 5px;
}
.especificaciones {
    color: #ffffff;
    margin-left: 10px;
    padding: 30px;
    font-size: 20px;
}
/* nosotros */
.sucursales {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 100px;
    background-color: #789a23;
    margin: 5px;
}

.sucursal__map {
    width: 600px;
    margin: 5px;
}

.nosotros h2 {
    color: #ffffff;
    background-color: #789a23;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}


.nosotros iframe {
    width: 800px;
    height: 600px;
}

.video__institucional {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #789a23;
    margin: 5px;
    height: 700px;
}

.footer__nosotros {
    margin-top: 5px;
}

.seccion__promociones {
    height: 100%;
    margin: 0px;
}

.promo__caracteristicas {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
    margin: 10px 10px;
}

.promo__img {
    margin: 20px;
    border: 5px solid white;
    
}

.promo__texto {
    margin: 20px;
    background-color: #789a23;
    border: 3px solid #ffffff;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.promo__texto h2{
    margin: 10px auto;
}
.promo__texto li {
    list-style: url('../img/tilde.png');
    width: 300px;
}

.listado__promo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
}
.promo__img  img{
    width: 600px;
}
.main__contacto {
    display: flex;
    margin: 10px;
    gap: 7px;
}




