/* reseteo general */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* saco estilo a todos los li */
ul li {
    list-style: none;
}
/* saco estilo a todos los link */
a {
    text-decoration: none;
}
/* index */
/* aplicando grid a la pagina general y dando estilo general */
#body__index{
    width: 100%;
    background-image: url(../img/pexels-pixabay-301717.jpg);
    margin: 0 0;
    height: 100vw;
    gap: 5px;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "section"
    "footer";
    grid-template-rows: 10vw auto auto 10vw;
    grid-template-columns: auto;
}
/* seccion header */
#header {
    grid-area: header;
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right,#ffffff,#987965 );
}
/* estilos del logo */
.logo__header {
    width: 30%;
    height: 5vw;
    align-self: center;
    margin-left: 5vh;
}
.logo__header img{
    width: 13vw;
}
/* estilos de los enlaces a redes sociales */
.contacto__menu{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 60%;
}
.contacto__menu .contacto__header {
    align-self: flex-end;
    justify-content: space-evenly;
    margin-right: 1vw;
}
.contacto__menu .contacto__header img {
    width: 3.2vw;
    height: 3.2vw;
    margin: 1vw;
}
.contacto__menu .contacto__header img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
}
/* menú de navegación */
.menu__navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__navegacion .barra__nav{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 2vw;
    
}
.menu__navegacion .barra__nav a{
    color: white;
    padding: 0.8vw;
    text-transform: uppercase;
    font-size: 1.4vw;
    display: inline-block;
    transition: all 560ms;
}
.menu__navegacion .barra__nav a:hover {
    opacity: 50%;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    font-size: 1.8vw;
}

/* SECCION PRESENTACION */
#presentacion__empresa{
    grid-area: main;
    height: 60vw;
    width: 100%;
    gap: 0.8vw;
    margin: 2vw 0.1vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.foto__principal {
    width: 70vw;
    height: auto;
}
.foto__principal img{
    width: 70vw;
    height: auto;
}
.listado__fortalezas {
    width: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}
.cada__fortaleza {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vw ;
    margin:0.8vw 0.5vw;
    transition: all 1s;
    opacity: 80%;
}
.cada__fortaleza:hover{
    width: 23vw;
    height: 11.5vw;
    opacity: 100%;
    cursor: pointer;
}
.cada__fortaleza p {
    background-color: #789a23;
    color: #ffffff;
    margin: 0.3vw;
    width: 50%;
    font-size: 1.2vw;
}
.cada__fortaleza p:hover{
    background-color: #192a38;
    font-size: 1.4vw;
}
.listado__fortalezas img {
    width: 45%;
    height: 100%;
}

/* PROMOCIONES */
#promociones{
    grid-area: section;
    height: 30vw;
    margin-bottom: 5vw;
}

#promociones h2 {
    text-align: center;
    font-size: 3vw;
    background: linear-gradient(to right,#789a23,#987965 );
    height: 5vw;
    margin-top: 0.5vw;
}

#promociones h2 a {
    color: #ffffff;
    transition: all 1.5s;
}
#promociones h2 a:hover{
    opacity: 50%;
    color: red;
    font-size: 3.5vw;
}
.nuestras__promos {
    padding: 0.8vw;
    height: 25vw;
    gap: 1vw;
    margin: 1vw 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.promocion {
    width: 23vw;
    height: 23vw;
    border:  0.5vw solid #789a23 ;
    background-color: #ffffff;
    transition: all 400ms;
}
.promocion:hover{
    width: 25vw;
    height: 25vw;
    border:0.7vw solid #987965;

}

.promocion img {
    width: 100%;
    transition: all 1s;
}

/* FOOTER */
#footer{
    grid-area: footer;
    background: linear-gradient(to right,#789a23,#987965 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
}
#footer .copy{
    color: #ffffff;
    margin-right: 4vw;
    display: inline-block;
    justify-content: flex-start;
}
#footer .barra__nav__footer {
    display: flex;
    gap: 0.5vw;
}
#footer .barra__nav__footer li a{
    display: inline-block;
    color: #ffffff;
    padding: 0.5vw;
}
#footer .barra__nav__footer li a:hover {
    opacity: 50%;
    cursor: pointer;
}
.contacto__footer img{
    width: 6vh;
    margin: 1vw;
}
.contacto__footer img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 8vh;
}
/* APLICANDO RESPONSIVE A INDEX*/
/* tamaño tablet */
@media screen and (max-width: 768px) {
    #header .logo__header img {
        width: 10vw;
    }
    #presentacion__empresa {
        flex-direction: column;
        height: 120vw;
        justify-content: center;
    }
    #presentacion__empresa .foto__principal {
        align-self: center;
        width: 100%;
        margin: 2vw;
    }
    #presentacion__empresa .listado__fortalezas {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #presentacion__empresa .listado__fortalezas .cada__fortaleza{
        opacity: 100%;
    }
    #promociones {
        height: 80vw;
    }
    #promociones .nuestras__promos{
        flex-wrap: wrap;
    }
    #promociones .nuestras__promos .promocion{
        width: 35vw;
        height: 35vw;
        justify-content: space-evenly;
    }
    #footer {
        height: 20vw;
        flex-direction: column;
    }

}
/* tamaño celular */
@media screen and (max-width:481px) {
    #header {
        height: 20vw;
    }
    #header .logo__header img {
        width: 18vw;
    }
    #header .contacto__menu{
        width: 70%;
    }
    #header .contacto__menu .contacto__header img{
        align-self: center;
        width: 8vw;
        height: 8vw;
    }
    #header .contacto__menu .menu__navegacion a{
        font-size: 2.5vw;
        color: black;
        font-weight: bold;
    }
    #presentacion__empresa {
        height: 320vw;
        align-items:center;
    }
    #presentacion__empresa .foto__principal{
        margin: 0;
        width: 85vw;
        border: 2vw solid black;
        background-color: black;
    }
    #presentacion__empresa .foto__principal img{
        align-content: center;
        width: 80vw;
        height: 80vw;
    }
    #presentacion__empresa .listado__fortalezas {
        display: flex;
        flex-direction: row;
        gap: 3vw;
    }
    #presentacion__empresa .listado__fortalezas .cada__fortaleza {
        width: 40vw;
        height: 25vw;
    }
    #presentacion__empresa .listado__fortalezas .cada__fortaleza p{
        font-size: 3vw;
        width: 60vw;

    }
    #promociones {
        height: 330vw;
    }
    #promociones .nuestras__promos {
        gap: 10vw;
    }
    #promociones .nuestras__promos .promocion {
        width: 70vw;
        height: 70vw;
    }
    #footer {
        height: 20vw;
    }
}




