/* reseteo general */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* saco estilo a todos los li */
ul li {
    list-style: none;
}
/* saco estilo a todos los link */
a {
    text-decoration: none;
}
/* index */
#body__index{
    width: 100%;
    background-image: url(../img/pexels-pixabay-301717.jpg);
    margin: 0 0;
    height: 100vw;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "section"
    "footer";
    grid-template-rows: 15vw auto auto 10vw;
    grid-template-columns: 100%;
}
/* seccion header */
#header {
    grid-area: header;
    background: linear-gradient(to right,#789a23,#987965 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.logo__contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vw;
}
.logo {
    width: 15vw;
    align-self: center;
    margin-left: 3vw;
}
.logo img {
    width: 10vw;
    height: 7vw;
}
.contacto__header{
    display: flex;
    gap: 1.5vw;
    width: 20vw;
    align-items: center;
}
.bi {
    font-size: 3vw;
    color: black;
}
.bi:hover {
    font-size: 3.2vw;
    color: black;
    opacity: 50%;
}
/* NAV BAR */
.navbar-collapse{
    justify-content: end;
    width: 100%;
    padding: 0%;
}
.navbar-nav{
    background: linear-gradient(to right,#789a23,#987965 );
    width: 100%;
    margin: 0;
    padding: 0;
} 
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.3vw;
    margin: 0.5vw;
} 
.navbar-light .navbar-nav .nav-link.active {
    color:#ffffff;
    font-weight: bold;
}
/* estilos de los enlaces a redes sociales */
.contacto__menu{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 25%;
}
.contacto__menu .contacto__header {
    align-self: flex-end;
    justify-content: space-evenly;
    margin-right: 1vw;
}
.contacto__menu .contacto__header img {
    width: 3.2vw;
    height: 3.2vw;
    margin: 2vw;
}
.contacto__menu .contacto__header img:hover {
    opacity: 50%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
}

/* SECCION PRESENTACION */
#presentacion__empresa{
    grid-area: main;
    height: 120vw;
    width: 100%;
    gap: 1vw;
    margin: 2vw 0.1vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.titulo__presentacion {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
}
.titulo__presentacion h1{
    font-size: 4vw;
    text-shadow: 2px 2px 2px #ffffff;
}
.titulo__presentacion h2{
    font-size: 3vw;
    text-shadow: 2px 2px 2px #ffffff;
}
.row {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;

}
.col {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vw ;
    margin:0.8vw 0.5vw;
    transition: all 1s;
}
.col p {
    background-color: #789a23;
    color: #ffffff;
    margin: 0.3vw;
    width: 50%;
    font-size: 1.6vw;
}
.col p:hover{
    background-color: #192a38;
    font-size: 1.8vw;
    cursor: pointer;
}
.row img {
    width: 30%;
    height: 100%;
}

/* PROMOCIONES */
#promociones{
    grid-area: section;
    height: 30vw;
    margin-bottom: 5vw;
}

#promociones h2 {
    text-align: center;
    font-size: 3vw;
    background: linear-gradient(to right,#789a23,#987965 );
    height: 5vw;
    margin-top: 0.5vw;
}

#promociones h2 a {
    color: #ffffff;
    transition: all 1.5s;
}
#promociones h2 a:hover{
    opacity: 50%;
    color: red;
    font-size: 3.5vw;
}
.nuestras__promos {
    padding: 0.8vw;
    height: 25vw;
    gap: 1vw;
    margin: 1vw 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.promocion {
    width: 23vw;
    height: 23vw;
    border:  0.5vw solid #789a23 ;
    background-color: #ffffff;
    transition: all 400ms;
}
.promocion:hover{
    width: 25vw;
    height: 25vw;
    border:0.7vw solid #987965;

}

.promocion img {
    width: 100%;
    transition: all 1s;
}

/* FOOTER */
#footer{
    grid-area: footer;
    background: linear-gradient(to right,#789a23,#987965 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
}
#footer .copy{
    color: #ffffff;
    font-size: 1.5vw;
    margin-right: 4vw;
    display: inline-block;
    justify-content: flex-start;
}
#footer .barra__nav__footer {
    display: flex;
    gap: 0.5vw;
}
#footer .barra__nav__footer li a{
    display: inline-block;
    color: #ffffff;
    font-size: 1.5vw;
    padding: 0.5vw;
}
#footer .barra__nav__footer li a:hover {
    opacity: 50%;
    cursor: pointer;
}
.contacto__footer{
    display: flex;
    gap: 1.5vw;
}
.bi {
    font-size: 3vw;
    color: black;
}
.bi:hover {
    font-size: 3.2vw;
    color: black;
    opacity: 50%;
}
/* APLICANDO RESPONSIVE A INDEX*/
/* tamaño tablet */
@media screen and (max-width: 768px) {
    #body__index {
        grid-template-rows: 30vw 130vw 80vw 30vw;
        gap: 10vw;
    }
    #header {
        flex-direction: row-reverse;
    }
    .logo__contacto {
        width: 60vw;
        height: 20vw;
    }
    .logo img {
        width: 17vw;
        height: 10vw;
    }
    .navbar {
        width: 30vw;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #ffffff;
        font-size: 2vw;
    } 
    #presentacion__empresa {
        flex-direction: column;
        height: 90vw;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    #promociones {
        height: 80vw;
    }
    #promociones .nuestras__promos{
        flex-wrap: wrap;
    }
    #promociones .nuestras__promos .promocion{
        width: 35vw;
        height: 35vw;
        justify-content: space-evenly;
    }
    #footer {
        height: 20vw;
        flex-direction: column;
        justify-content: center;
    }
    #footer .copy p {
        font-size: 2.2vw;
    }
    #footer .barra__nav__footer li a{
        font-size: 2.2vw;
    }
    #footer .contacto__footer{
        gap: 3vw;
    }
    #footer .contacto__footer i {
        font-size: 4vw;
    }

}
/* tamaño celular */
@media screen and (max-width:481px) {
    #body__index{
        grid-template-rows: 40vw 100vw 320vw 30vw;
        grid-template-columns: 100%;
        margin: 0;
    }
    #header {
        height: 20vw;
    }
    #header .logo__header img {
        width: 18vw;
    }
    #header .contacto__menu{
        width: 70%;
    }
    #header .contacto__header {
        width: 25vw;
        margin-right: 0.3vw;
    }
    .bi {
        font-size: 4vw;
        color: black;
        margin: 0.5vw;
    }
    .bi:hover {
        font-size: 4.2vw;
        color: black;
        opacity: 50%;
    }
    .navbar {
        width: 40vw;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #ffffff;
        font-size: 2.2vw;
    } 
    #presentacion__empresa {
        height: 100vw;
        align-items:center;
    }
    .titulo__presentacion {
        font-size: 10vw;
    }

    #promociones {
        height: 330vw;
    }
    #promociones .nuestras__promos {
        gap: 10vw;
    }
    #promociones .nuestras__promos .promocion {
        width: 70vw;
        height: 70vw;
    }
    #footer {
        height: 30vw;
    }
}




